.container {
  background-image: url(https://images.pexels.com/photos/9829488/pexels-photo-9829488.jpeg?auto=compress&cs=tinysrgb&w=600);
  height: 60vh;
  width: 100%;
}

.subContainer {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #021f6a;
  opacity: 0.9;
}

.subContainer1 {
  display: block;
  color: aliceblue;
  height: 100%;
  width: 100%;
  background-color: #021f6a;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .subContainer {
    display: none;
  }

  .container {
    height: 78vh;
    background-image: url(https://images.pexels.com/photos/3585000/pexels-photo-3585000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }

  .top-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
  }

  .bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    transition: opacity 0.5s ease-in-out;
  }

  .bottom-side p {
    font-size: medium;
    text-align: center;
    font-weight: 200;
    font-family: monospace;
    color: aliceblue;
  }

  .top-side h1 {
    font-size: larger;
    font-weight: 700;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
  }

  .certificate img {
    border-radius: 0%;
    height: auto;
    width: 260px;
  }
}

@media only screen and (min-width: 601px) {
  .subContainer1 {
    display: none;
  }

  .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
  }

  .left-side p {
    font-size: large;
    text-align: center;
    font-weight: 200;
    font-family: monospace;
    color: aliceblue;
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 55%;
    transition: opacity 2s ease-in-out;
  }

  .right-side h1 {
    font-size: larger;
    font-weight: 700;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
  }

  .certificate img {
    border-radius: 0%;
    height: auto;
    width: 370px;
  }
}
