.navbar {
  opacity: 0.95;
  z-index: 1;
  width: 100%;
  height: 100px;
  background: #021f6a;
  position: fixed;
  border-bottom: 2px solid white;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.left-nav {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}

.right-nav {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDiv {
  height: 80%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.cv-btn {
  background-color: red;
  opacity: 0.9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px black;
  font-size: 16px;
  padding: 7px;
}

.cv-btn:hover {
  opacity: 1;
  box-shadow: 5px 5px 10px black;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 18px;
}

.navbar a:hover {
  color: lightgray;
}

.toggleButton {
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 40px;
}

.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .left-nav {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open .right-nav {
  display: none;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .left-nav a {
    width: 70px;
    font-size: medium;
  }

  .cv-btn {
    font-size: smaller;
    padding: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }

  #close .right-nav {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .left-nav {
    flex-direction: row;
  }

  #open .cv-btn {
    display: none;
  }
}
