.imageHolder {
  display: flex;
  align-content: center;
  padding-bottom: 20px;
  justify-content: center;
  height: auto;
  width: 100%;
}

.imageHolder img {
  border: 3px solid lightgray;
  border-radius: 5px;
  width: 250px;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 0px 0px white;
  /* box-shadow: 3px 3px 3px 1px rgb(124, 124, 124); */
}

.imageHolder img:hover {
  background-color: white;
  box-shadow: 0px 0px 0px 0px white;
  border: 0px solid #f0f0f0;
}

h3 {
  text-align: center;
  color: #021f6a;
}

p {
  text-align: center;
  color: gray;
  font-family: monospace;
}

@media only screen and (max-width: 600px) {
  .imageHolder {
    align-content: start;
    justify-content: left;
  }

  .imageHolder img {
    width: 180px;
    height: auto;
  }

  h3 {
    text-align: left;
  }

  p {
    text-align: left;
  }
}
